/*common css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: #eee;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* header left css */

.globalHeader {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.globalHeader>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.globalHeader>.logo>.logo_img {
    width: 36px;
}

.globalHeader>.logo>.logo_name {
    margin-left: 20px;
    vertical-align: middle;
}


/* header right css */

.nav {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.nav>div {
    margin-left: 20px;
}


/* main css */

.globalMain {
    margin-top: 8px;
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.globalMain>.works_items {
    width: 350px;
    height: 250px;
    background-color: #1F2229;
    transition: all 1s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 30px 0 50px 30px;
}

.globalMain>.works_items:hover {
    height: 300px;
    background-color: #1F2229;
}

.works_items>.works_items_img {
    width: 300px;
    height: 160px;
    border-radius: 10px;
    margin-top: 20px;
}

.works_items_img>img {
    border-radius: 10px;
}