/*common css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
}

body {
    background-color: #eee;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* header left css */

.globalHeader {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.globalHeader>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.globalHeader>.logo>.logo_img {
    width: 36px;
}

.globalHeader>.logo>.logo_name {
    margin-left: 20px;
    vertical-align: middle;
}


/* header right css */

.nav {
    display: flex;
    align-items: center;
}

.nav>div {
    margin-left: 40px;
}


/* main css */

.globalMain {
    margin-top: 8px;
    display: flex;
}
.globalMain>.globalMain_works {
    display: flex;
    margin-right: -75px;
    flex-wrap: wrap;
}

.globalMain>.globalMain_works>a>.works_items {
    width: 350px;
    height: 280px;
    background-color: #1F2229;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-right: 75px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.works_items>.works_items_img {
    width: 300px;
    height: 160px;
    border-radius: 10px;
}

.works_items_img>img {
    border-radius: 10px;
    margin-left: 25px;
}

.works_items_img>img:hover {
    -webkit-animation: shake 0.25s;
}

.works_items> .works_items_description {
    margin-top: 20px;
    margin-left: 23px;
    color: white;
}
.works_items> .works_items_description > p {
    color: #ccc;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;
   margin-top: 5px;
}


@-webkit-keyframes shake {
    0%,
    10%,
    55%,
    90%,
    94%,
    98%,
    100% {
        -webkit-transform: scale(1, 1);
    }
    30% {
        -webkit-transform: scale(1.14, 0.86);
    }
    75% {
        -webkit-transform: scale(0.92, 1.08);
    }
    92% {
        -webkit-transform: scale(1.04, 0.96);
    }
    96% {
        -webkit-transform: scale(1.02, 0.98);
    }
    99% {
        -webkit-transform: scale(1.01, 0.99);
    }
}